@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-doto: "Doto", sans-serif;
}

:root {
    --background: #ffffff;
    --foreground: #000;
    --muted: #f5f5f5;
    --card-bg: #f4f4f4;
    --border: #bbbbbb;
    --accent: #040404;
    --accent-foreground: #ffffff;
    --secondary-background: #eaeaea;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #171717;
    --card-bg: #151515;
    --border: #262626;
    --accent: #ffffff;
    --accent-foreground: #000000;
    --secondary-background: #151515;
}

html,
body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Doto", sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
    display: none;
}

.font-doto {
    font-family: "Doto", sans-serif;
    font-variation-settings: "ROND" 0;
}